.girisyap{
   margin: auto; 
}
.girisYapSection{
    background-image: url(../BerkantOntemel/back.jpeg);
    width: 100%;
    min-height: 650px;
    margin-top: -8px;
    background-size: cover;
    background-position: center;
}
.girisyapForm{
    position: relative;
    top: 50px;
}
.kayitolsection{
    background-image: url(../BerkantOntemel/popimage.jpeg);
    margin-top: -8px;
}
.kayitolForm{
position: relative;

}