.girisyap{
   margin: auto; 
}
.girisYapSection{
    background-image: url(../BerkantOntemel/back.jpeg);
    width: 100%;
    min-height: 650px;
    margin-top: -8px;
    background-size: cover;
    background-position: center;
}
.girisyapForm{
    position: relative;
    top: 50px;
}
.kayitolsection{
    background-image: url(../BerkantOntemel/popimage.jpeg);
    margin-top: -8px;
}
.kayitolForm{
    position: relative;

}
.sectionIndex{
    background-color: #777;
    margin-top: -8px;
           
}
.carousel-inner{
    background-size: cover;
    background-position: center;
    height: 450px;
}
.sectionSlider{
    background-color: #777;
}
.footerA{
    color: white;
    text-decoration: none;

}
.footerLi{
    list-style-type: none;
    
}